# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment directories
venv/
env/
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# MySQL database files (if using a local database)
*.sql
*.sqlite

# IDE and editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
